In [2]:

import pandas as pd
import os
from datetime import datetime


path = 'arquivo.xlsx'
data = pd.read_excel(path, header=None)
data['Tarefao'] = '0'
data['Tarefinha'] = '0'
projectName = data.columns[1]

metaData = data.iloc[0:7, 0:2].copy()
metaData = metaData.T
metaData.columns = metaData.iloc[0, :]
metaData.index = [0, projectName]
metaData.drop([0], inplace=True)

colunas = list(data.iloc[8, 0:-2].values)
colunas.append('Tarefao')
colunas.append('Tarefinha')
data.drop(range(0, 9), inplace=True)
data.columns = colunas


col_ref = 1
ultimaTarefona = data.iloc[0, col_ref]
for i in range(len(data)-1):
    if len(data.iloc[i, col_ref].split('.')) < len(data.iloc[i+1, col_ref].split('.')):
        ultimaTarefona = data.iloc[i, col_ref]
        data.iloc[i, 16] = ultimaTarefona
    else:
        data.iloc[i, 17] = ultimaTarefona

countLines = len(data)-1
if len(data.iloc[countLines, col_ref].split('.')) < len(data.iloc[countLines-1, col_ref].split('.')):
    data.iloc[countLines,16] = data.iloc[countLines, col_ref]
else:
    data.iloc[countLines, 17] = ultimaTarefona

In [3]:
data

    Task number Outline number  ... Tarefao Tarefinha
9             1              1  ...       1         0
10            2            1.1  ...       0         1
11            3            1.2  ...       0         1
12            4            1.3  ...       0         1
13            5            1.4  ...       0         1
..          ...            ...  ...     ...       ...
179         171          2.6.1  ...       0       2.6
180         172            2.7  ...     2.7         0
181         173          2.7.1  ...       0       2.7
182         174            2.8  ...     2.8         0
183         175          2.8.1  ...       0       2.8

[175 rows x 18 columns]

In [5]:
metaData

0                              Project name  ...                 Exported on
1  FSA Automated Data Quality Audit Project  ...  2021-06-21 13:42:29.806000

[1 rows x 7 columns]